.header {
    height: 85vh; //overridden by larger height only if clip-path is supported
    background-image: 
        linear-gradient( /* gradient at 80% opacity */
            to right bottom, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)
        ), 
        url(../img/hero-small.jpg);
    background-size: cover; /* fit within encapsulating element */
    background-position: top; /* top of image always stays at top of browser window */

    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon( /* crops bg image to 4 specified corners, clockwise */
            0 0, 
            100% 0,
            100% 75vh,
            0 100%
        ); 
        clip-path: polygon( /* crops bg image to 4 specified corners, clockwise */
            0 0, 
            100% 0,
            100% 75vh,
            0 100%
        ); 
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em) //600px / 16 -- media queries ALWAYS in em
        , //or
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) //for Safari, check this property and whether it is set to 2x
        , //or
        only screen and (min-width: 125em) { //2000px / 16
        /*use lorge image when res > 1920dpi (standard high-res screen)
        AND when the screen is at least 600px wide
        OR when screen is lorge*/
        background-image: 
            linear-gradient( /* gradient at 80% opacity */
                to right bottom, 
                rgba($color-tertiary-light, 0.8), 
                rgba($color-tertiary-dark, 0.8)
            ), 
            url(../img/hero.jpg); //use large image if res is sufficiently high
    }

    @include respond(phone) {
        -webkit-clip-path: polygon( /* crops bg image to 4 specified corners, clockwise */
            0 0, 
            100% 0,
            100% 85vh,
            0 100%
        ); //increase vh as screen gets smaller to make the angle less jarring
        clip-path: polygon( /* crops bg image to 4 specified corners, clockwise */
            0 0, 
            100% 0,
            100% 85vh,
            0 100%
        ); 
    }

    &__logo-box { // replaces .header__logo-box
        position: absolute;
        top: 4rem; /* starting from parent element with position = relative */
        left: 4rem; /* so header element needs to have position = relative */
    }

    &__logo { // replaces .header__logo
        height: 3.5rem; 
    }
    
    &__text-box { // replaced .header__text-box
        position: absolute;
        text-align: center; /* formats text elements, including btn */
        @include center;
    }
}

// replaced by &__logo-box
// .header__logo-box {
//     position: absolute;
//     top: 4rem; /* starting from parent element with position = relative */
//     left: 4rem; /* so header element needs to have position = relative */
// }

// replaced by &__logo
// .header__logo {
//     height: 3.5rem;
// }

// replaced by &__text-box
// .header__text-box {
//     position: absolute;
//     top: 40%; /* relative to top edge, not center */
//     left: 50%; /* relative to top edge, not center */
//     transform: translate(-50%, -50%); /* moves textbox so that centers are aligned instead of edges */
//     text-align: center; /* formats text elements, including btn */
// }



