
.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0; //decrease padding a bit
    }
}

.section-features {
    padding: 20rem 0;
    background-image: 
        linear-gradient( /* gradient at 80% opacity */
            to right bottom, 
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)
        ), 
        url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -12rem;
    transform: skewY(-7deg);

    & > * { //select all DIRECT children
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0; //decrease padding a bit
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0; //decrease padding a bit
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0; //decrease padding a bit
    }
}

.section-booking {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0; //decrease padding a bit
    }
}

.booking {
    // can also achieve polygon clip path effect with gradient!?
    background-image: 
            // can use deg instead of "to right"
            linear-gradient(
                    105deg, 
                    rgba($color-white, 0.8) 0%, 
                    rgba($color-white, 0.8) 50%,  
                    transparent 50%), //specify 50% twice to get hard border instead of gradient fade
            url(../img/nat-10.jpg);
    background-size: cover; //not exactly the same thing as 100%, which will tile the images if screen resolution is weird
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);

    @include respond(tab-land) {
        background-image: 
            // can use deg instead of "to right"
            linear-gradient(
                    105deg, 
                    rgba($color-white, 0.8) 0%, 
                    rgba($color-white, 0.8) 65%,  
                    transparent 65%),
            url(../img/nat-10.jpg);
    }

    @include respond(tab-port) {
        background-image: 
            // can use deg instead of "to right"
            linear-gradient(
                    to right, 
                    rgba($color-white, 0.9) 0%, 
                    rgba($color-white, 0.9) 100%),
            url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}
